.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.desc{
    width: 70%;
    color: #444;
}

@media screen and (max-width:480px){
    .desc{
        text-align: center;
    }

    .title{
        text-align: center;
    }
}